<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="https://w3c.github.io/scholarly-html/css/scholarly.min.css">
    <style>
        p{
            font-size: 20px;
        }
    </style>
    <link rel="icon"
          href="https://icons-for-free.com/iconfiles/png/512/clipboard+paste+task+icon-1320161389075402003.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PIt</title>
</head>

<body prefix="schema: http://schema.org">
<header>
    <h1>PasteIt</h1>
</header>
<div role="contentinfo">
    <ol role="directory">
        <li>
            <a href="#abstract">
                <span>1 </span>Abstract
            </a>
        </li>
        <li>
            <a href="#introduction">
                <span>2 </span>Introduction
            </a>
            <ol role="directory">
                <li>
                    <a href="#purpose">
                        <span>2.1 </span>Purpose
                    </a>
                </li>
            </ol>
        </li>
        <li>
            <a href="#functionalities">
                <span>3 </span>Materials and Methods
            </a>
            <ol role="directory">
                <li>
                    <a href="#functionalities">
                        <span>3.1 </span>Functionalities
                    </a>
                </li>
                <li>
                    <a href="#structure">
                        <span>3.2 </span>Structure
                    </a>
                </li>
            </ol>
        </li>

        <li>
            <a href="#conclusion">
                <span>4 </span>Conclusion
            </a>
        </li>

        <li>
            <a href="#references">
                <span>5 </span>References
            </a>
        </li>
    </ol>

    <dl>
        <dt>Authors</dt>
        <dd>
            <ol>
                <li property="schema:author" typeof="sa:ContributorRole">
                    <a property="schema:author" href="https://github.com/HristeaIonut" typeof="schema:Person">
                        <span property="schema:familyName">Hristea</span>
                        <span property="schema:givenName">Ionut-Alexandru</span>
                    </a>
                    <sup property="sa:roleContactPoint" typeof="schema:ContactPoint">
                        <a property="schema:email" href="mailto:hristeaionut72@gmail.com" title="Mail">Mail</a>
                    </sup>
                </li>
                <li property="schema:author" typeof="sa:ContributorRole">
                    <a property="schema:author" href="https://github.com/LauraMalinaBenchea" typeof="schema:Person">
                        <span property="schema:familyName">Benchea</span>
                        <span property="schema:givenName">Laura-Malina</span>
                    </a>
                    <sup property="sa:roleContactPoint" typeof="schema:ContactPoint">
                        <a property="schema:email" href="mailto:malina16fnl@gmail.com" title="Mail">Mail</a>
                    </sup>
                </li>
                <li property="schema:author" typeof="sa:ContributorRole">
                    <a property="schema:author" href="https://github.com/neculautudor" typeof="schema:Person">
                        <span property="schema:familyName">Neculau</span>
                        <span property="schema:givenName">Tudor</span>
                    </a>
                    <sup property="sa:roleContactPoint" typeof="schema:ContactPoint">
                        <a property="schema:email" href="mailto:neculautudor02@gmail.com" title="Mail">Mail</a>
                    </sup>
                </li>
            </ol>
        </dd>
    </dl>
</div>
<section typeof="sa:Abstract" id="abstract" role="doc-prologue">
    <h2><span>1 </span>Abstract</h2>
    <p>
        A website for people who want to share their code.
    </p>
</section>
<section typeof="sa:Introduction" id="introduction" role="doc-introduction">
    <h2><span>2 </span>Introduction</h2>
    <p>
        The goal of this project is to offer a platform through which one can
        share their code among friends, colleagues and even teachers, in a more convenient way.
        Our app can be used by both authenticated and anonymous user.
    </p>
    <p>
        For authenticated users:
    </p>
    <ul>
        <li>
            One can manage their own posts(edit, delete previous posts
            or attach attributes);
        </li>
        <li>
            The option of selecting other users who can modify the posts
            and keep a history for rolling back to anterior versions;
        </li>
        <li>
            Extra options such as "burn after read", "password protected"
            or "reading confirmation - will be able to see who read the post".
        </li>
    </ul>
    <p>
        For anonymous users:
    </p>
    <ul>
        <li>
            The posts can only be public and only after they will have
            passed the Captcha test;
        </li>
        <li>
            The posts will be kept for a maximum of 30 days.
        </li>
    </ul>

</section>

<section typeof="sa:Introduction" id="purpose" role="doc-introduction">
    <h2><span>2.1 </span>Purpose</h2>
    <p>
        The purpose of our Website is mainly to make programmers' lives easier. How will that work?
        When a user wants to paste a code, that person can make it pretty. This means that the code becomes easier to read and therefore, easier to understand.
        Another advantage is encryption, which allows a user to share it in a secure environment, because we value intellectual property and wouldn't want it to be violated.
        Our current goal is to let users know that they are being heard, and this is why we will constantly bring changes and updates, according to the received reviews.

    </p>
</section>

<section typeof="sa:MaterialsAndMethods" id="functionalities" role="document">
    <h2><span>3.1 </span>Functionalities</h2>
    <p>
        TODO
    </p>
</section>

<section typeof="sa:MaterialsAndMethods" id="structure" role="document">
    <h2><span>3.2 </span>Structure</h2>
    <p>
        TODO
    </p>
</section>

<section typeof="sa:Conclusion" id="conclusion" role="doc-conclusion">
    <h2><span>4 </span>Conclusion</h2>
    <p>
        TODO
    </p>
</section>

<section typeof="sa:Conclusion" id="references" role="doc-bibliography">
    <h2><span>5 </span>References</h2>
    <p>
        TODO
    </p>
</section>

</body>

</html>