html {
  font-family: "Bebas Neue", cursive;
  font-style: normal;
  font-size: 2.6vh;
  font-weight: 400;
  src: url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
  height: 100%;
  width: 100%;
  margin: 0;
}
body {
  background-color: rgb(45, 45, 45);
  height: 100%;
  margin: 0;
  clear: both;
}
a {
  text-decoration: none;
  color: #ffffff;
  border-radius: 25px;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 2.2vh;
}
a:hover {
  background-color: #03dac5;
}
p {
  background-color: rgb(45, 45, 45);
  height: 50%;
  color: white;
}
h3 {
  background-color: rgb(45, 45, 45);
  height: 80%;
  color: grey;
}
ol, ul {
  background-color: rgb(45, 45, 45);
  height: 40%;
  color: white;
}

.home::before {
  content: "\1F4CB \ ";
  display: inline;
}
.header {
  display: block;
  width: 90%;
  height: 5%;
  margin: 1% 10% 2%;
}
.checking{
color: red;
}
.header-left {
  width: 50%;
  float: left;
}
.header-right {
  width: 20%;
  float: right;
  margin-right: 10%;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2%;
  padding-bottom: 1%;
  background-color: black;
  color: white;
  text-align: center;
}
.home {
  font-size: 3.6vh;
  margin-right: 2%;
}
.contact {
  margin-right: 2%;
}
.how-to {
  margin-right: 2%;
}
.textarea-container {
  display: block;
  background-color: rgb(40, 40, 40);
  color: rgb(209, 206, 206);
  height: 55%;
  width: 75%;
  overflow: auto;
  min-width: 70%;
  padding: 30px;
  margin: auto;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
  border-radius: 20px;
  border: 5px solid #121212;
}
.left{
  display: inline-block;
  height: 30vh;
  width: 40vw;
}
.textarea {
  display: block;
  font-size: 2.5vh;
  float: left;
  resize: none;
  color: white;
  overflow: auto;
  min-width: 50%;
  height: 100%;
  width: 100%;
  padding: 0;
  background-color: rgb(45, 45, 45);
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
  border: 5px solid #2d2d2d;
  border-radius: 20px;
}
.textarea:focus {
  border: 5px solid #03dac5;
  outline: rgb(45, 45, 45);
}
.login {
  margin-right: 2%;
}

.reportContent {
  width: auto;
}
.create-paste {
  color: rgb(206, 206, 206);
  background-color: rgb(45, 45, 45);
  height: 5vh;
  width: 18vh;
  margin-top: 30px;
  font-family: inherit;
  font-size: 2vh;
}
.create-paste:hover {
  outline: 5px solid #03dac5;
}
.right-select {
  float: right;
  margin-left: 10px;
}
.tabel {
  white-space: normal;
  display: block;
  float: right;
  margin-top: 1%;
  margin-right: 5%;
  margin-left: 1%;
}
select,
input {
  color: rgb(206, 206, 206);
  background-color: rgb(45, 45, 45);
}
select:focus,
input:focus {
  outline: rgb(45, 45, 45);
}
dd, dt{
  color: burlywood;
}

.g-recaptcha{
  margin-top: 30px;
}

.paste{
  margin-left: 10%;
}
.g-recaptcha{
  display: block;
}
.modified-pastes{
  max-height: 25%;
  overflow-y:auto;
  right: 25%;
  left: 25%;
  position:absolute;
  bottom: 0;
}
.submit{
  color: rgb(206, 206, 206);
  background-color: rgb(45, 45, 45);
  height: 5vh;
  width: 18vh;
  margin-top: 30px;
  font-family: inherit;
  font-size: 2vh;
}


